<div class="jumbotron">
  <h1>Welcome to the Jungle!</h1>
  <p>Here you can buy and sell to your hearts content (or till your wallet feels empty). It is that easy!</p>
  <p><a class="btn btn-primary btn-lg" href="/" role="button">Start Shopping</a></p>
</div>